body{
	text-align: center;
}
.content{
	text-align: left;
	display: inline-block;
	margin-top: 2%;
	font-size: 2.5em;
}
.setting{
	margin-top: 0.5em;
}
.setting select, .setting input, .setting button{
	font-size: 0.7em;
    border-radius: 4px;
}
.setting input[type="checkbox"]{
	zoom: 2.5;
}
.setting label{
	user-select: none;
}
#disableInterruptionsLbl{
	cursor: pointer;
}
#disableInterruptions{
	cursor: pointer;
}
.setting button{
    background: cornflowerblue;
    color: #ffffff;
    cursor: pointer;
    border: 0;
}
.setting button:focus{
	background: #4d7dd2;
}